
#foto1{
	float: left;
	margin-left: 50px;

}
#foto2{
	float: left;
	margin-left: 50px;

}
#foto3{
	
}
#p1{
	float: left;
	width:300px;
	height: 150px;
	margin-right: 50px;
	margin-left: 125px;
	margin-bottom:50px;
	
}
#p2{
	float:left;
	width:300px;
	height: 150px;
	margin-right:50px;
	margin-bottom: 50px
}
#p3{
	width:300px;
	height: 150px;
	float:left;
	margin-right: 50px
	margin-bottom:50px;
}
#p4{
	width:300px;
	height: 150px;
	float: bottom;

}
.pp{
	color:white;

	font-family: Arial, Helvetica, sans-serif;

}
