body{
	color: white;
	border-style: solid;
    border-width: medium;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
   /* border-style: solid;
    border-width: medium;*/
}
img{
	padding:2px;
	border:1px solid #021a40;
	background-color:#fff;
}